.elementor-20159 .elementor-element.elementor-element-36ef0dab > .elementor-container {
	max-width: 1600px;
}

.elementor-20159 .elementor-element.elementor-element-36ef0dab:not(.elementor-motion-effects-element-type-background),
.elementor-20159 .elementor-element.elementor-element-36ef0dab > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #0088cd;
}

.elementor-20159 .elementor-element.elementor-element-36ef0dab {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: -5px;
	margin-bottom: -5px;
}

.elementor-20159 .elementor-element.elementor-element-36ef0dab > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-4ccb32e9.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-4ccb32e9.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-7f398d71 img {
	width: 35%;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-3579c704.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-3579c704.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-menu-item.wpr-pointer-item {
	transition-duration: 0.2s;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-menu-item.wpr-pointer-item:before {
	transition-duration: 0.2s;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-menu-item.wpr-pointer-item:after {
	transition-duration: 0.2s;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-toggle-wrap {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-nav-menu .wpr-menu-item,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-nav-menu > .menu-item-has-children > .wpr-sub-icon {
	color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-nav-menu .wpr-menu-item:hover,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-nav-menu > .menu-item-has-children:hover > .wpr-sub-icon,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-nav-menu .wpr-menu-item.wpr-active-menu-item,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-nav-menu > .menu-item-has-children.current_page_item > .wpr-sub-icon {
	color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-61216549.wpr-pointer-line-fx .wpr-menu-item:before,
.elementor-20159 .elementor-element.elementor-element-61216549.wpr-pointer-line-fx .wpr-menu-item:after {
	background-color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-61216549.wpr-pointer-border-fx .wpr-menu-item:before {
	border-color: #FFFFFF;
	border-width: 2px;
}

.elementor-20159 .elementor-element.elementor-element-61216549.wpr-pointer-background-fx .wpr-menu-item:before {
	background-color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .menu-item-has-children .wpr-sub-icon {
	font-size: 14px;
}

.elementor-20159 .elementor-element.elementor-element-61216549.wpr-pointer-background:not(.wpr-sub-icon-none) .wpr-nav-menu-horizontal .menu-item-has-children .wpr-pointer-item {
	padding-right: calc(14px + 7px);
}

.elementor-20159 .elementor-element.elementor-element-61216549.wpr-pointer-border:not(.wpr-sub-icon-none) .wpr-nav-menu-horizontal .menu-item-has-children .wpr-pointer-item {
	padding-right: calc(14px + 7px);
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-nav-menu .wpr-menu-item,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu a,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-toggle-text {
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 2px;
}

.elementor-20159 .elementor-element.elementor-element-61216549.wpr-pointer-underline .wpr-menu-item:after,
.elementor-20159 .elementor-element.elementor-element-61216549.wpr-pointer-overline .wpr-menu-item:before,
.elementor-20159 .elementor-element.elementor-element-61216549.wpr-pointer-double-line .wpr-menu-item:before,
.elementor-20159 .elementor-element.elementor-element-61216549.wpr-pointer-double-line .wpr-menu-item:after {
	height: 2px;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-nav-menu .wpr-menu-item {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-20159 .elementor-element.elementor-element-61216549.wpr-pointer-background:not(.wpr-sub-icon-none) .wpr-nav-menu-vertical .menu-item-has-children .wpr-sub-icon {
	text-indent: -7px;
}

.elementor-20159 .elementor-element.elementor-element-61216549.wpr-pointer-border:not(.wpr-sub-icon-none) .wpr-nav-menu-vertical .menu-item-has-children .wpr-sub-icon {
	text-indent: -7px;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-nav-menu > .menu-item {
	margin-left: 10px;
	margin-right: 10px;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-nav-menu-vertical .wpr-nav-menu > li > .wpr-sub-menu {
	margin-left: 10px;
}

.elementor-20159 .elementor-element.elementor-element-61216549.wpr-main-menu-align-left .wpr-nav-menu-vertical .wpr-nav-menu > li > .wpr-sub-icon {
	right: 10px;
}

.elementor-20159 .elementor-element.elementor-element-61216549.wpr-main-menu-align-right .wpr-nav-menu-vertical .wpr-nav-menu > li > .wpr-sub-icon {
	left: 10px;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-sub-menu .wpr-sub-menu-item,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-sub-menu > .menu-item-has-children .wpr-sub-icon {
	color: #333333;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-sub-menu .wpr-sub-menu-item {
	background-color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 13px;
	padding-bottom: 13px;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-sub-menu .wpr-sub-menu-item:hover,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-sub-menu > .menu-item-has-children .wpr-sub-menu-item:hover .wpr-sub-icon,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-sub-menu .wpr-sub-menu-item.wpr-active-menu-item,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-sub-menu > .menu-item-has-children.current_page_item .wpr-sub-icon {
	color: #ffffff;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-sub-menu .wpr-sub-menu-item:hover,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-sub-menu .wpr-sub-menu-item.wpr-active-menu-item {
	background-color: #605BE5;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-sub-menu .wpr-sub-icon {
	right: 15px;
}

.elementor-20159 .elementor-element.elementor-element-61216549.wpr-main-menu-align-right .wpr-nav-menu-vertical .wpr-sub-menu .wpr-sub-icon {
	left: 15px;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-nav-menu-horizontal .wpr-nav-menu > li > .wpr-sub-menu {
	margin-top: 0px;
}

.elementor-20159 .elementor-element.elementor-element-61216549.wpr-sub-divider-yes .wpr-sub-menu li:not(:last-child) {
	border-bottom-color: #e8e8e8;
	border-bottom-width: 1px;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-sub-menu {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #E8E8E8;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu a,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu .menu-item-has-children > a:after {
	color: #333333;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu li {
	background-color: #ffffff;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu li a:hover,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu .menu-item-has-children > a:hover:after,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu li a.wpr-active-menu-item,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu .menu-item-has-children.current_page_item > a:hover:after {
	color: #ffffff;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu a:hover,
.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu a.wpr-active-menu-item {
	background-color: white;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu a {
	padding-left: 10px;
	padding-right: 10px;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu .menu-item-has-children > a:after {
	margin-left: 10px;
	margin-right: 10px;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu .wpr-mobile-menu-item {
	padding-top: 10px;
	padding-bottom: 10px;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu .wpr-mobile-sub-menu-item {
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-nav-menu {
	margin-top: 10px;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-toggle {
	border-color: #FFFFFF;
	width: 50px;
	border-width: 0px;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-toggle-text {
	color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-toggle-line {
	background-color: #FFFFFF;
	height: 4px;
	margin-bottom: 6px;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-toggle:hover {
	border-color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-toggle:hover .wpr-mobile-toggle-text {
	color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-61216549 .wpr-mobile-toggle:hover .wpr-mobile-toggle-line {
	background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-615a439a.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-615a439a.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	background-color: #004a6f;
	border-color: white;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-radius: 30px 30px 30px 30px;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button::before {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button::after {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	color: white;
	padding: 5px 10px 5px 10px;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button .wpr-button-icon {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button .wpr-button-icon svg {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button .wpr-button-text {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button .wpr-button-content {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button-wrap {
	max-width: 140px;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button-content {
	-webkit-justify-content: center;
	justify-content: center;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button-text {
	-webkit-justify-content: center;
	justify-content: center;
	color: white;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button-icon {
	font-size: 18px;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button-icon svg {
	width: 18px;
	height: 18px;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0.wpr-button-icon-position-left .wpr-button-icon {
	margin-right: 12px;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0.wpr-button-icon-position-right .wpr-button-icon {
	margin-left: 12px;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0.wpr-button-icon-style-inline .wpr-button-icon {
	color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0.wpr-button-icon-style-inline .wpr-button-icon svg {
	fill: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button-text,
.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button::after {
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 [class*="elementor-animation"]:hover,
.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button::before,
.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button::after {
	background-color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button:hover .wpr-button-text {
	color: white;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0.wpr-button-icon-style-inline .wpr-button:hover .wpr-button-icon {
	color: white;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0.wpr-button-icon-style-inline .wpr-button:hover .wpr-button-icon svg {
	fill: #000;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0 .wpr-button:hover {
	border-color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0.wpr-button-icon-style-inline .wpr-button {
	padding: 5px 10px 5px 10px;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0.wpr-button-icon-style-block .wpr-button-text {
	padding: 5px 10px 5px 10px;
}

.elementor-20159 .elementor-element.elementor-element-58ac40e0.wpr-button-icon-style-inline-block .wpr-button-content {
	padding: 5px 10px 5px 10px;
}

.elementor-20159 .elementor-element.elementor-element-755330f1:not(.elementor-motion-effects-element-type-background),
.elementor-20159 .elementor-element.elementor-element-755330f1 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #0088cd;
}

.elementor-20159 .elementor-element.elementor-element-755330f1 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 150px 0px 150px 0px;
}

.elementor-20159 .elementor-element.elementor-element-755330f1 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20159 .elementor-element.elementor-element-1f146103 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-20159 .elementor-element.elementor-element-1f146103 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-2006a0b0.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-2006a0b0.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-726ad123 .elementor-heading-title {
	color: #FFFFFF;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 90px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-39e1fe1 .elementor-heading-title {
	color: #FFFFFF;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	background-color: #004a6f;
	border-color: white;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-radius: 30px 30px 30px 30px;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button::before {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button::after {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	color: white;
	padding: 5px 10px 5px 10px;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button .wpr-button-icon {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button .wpr-button-icon svg {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button .wpr-button-text {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button .wpr-button-content {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button-wrap {
	max-width: 165px;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 {
	text-align: left;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button-content {
	-webkit-justify-content: center;
	justify-content: center;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button-text {
	-webkit-justify-content: center;
	justify-content: center;
	color: white;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button-icon {
	font-size: 18px;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button-icon svg {
	width: 18px;
	height: 18px;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25.wpr-button-icon-position-left .wpr-button-icon {
	margin-right: 12px;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25.wpr-button-icon-position-right .wpr-button-icon {
	margin-left: 12px;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25.wpr-button-icon-style-inline .wpr-button-icon {
	color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25.wpr-button-icon-style-inline .wpr-button-icon svg {
	fill: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button-text,
.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button::after {
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 [class*="elementor-animation"]:hover,
.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button::before,
.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button::after {
	background-color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button:hover .wpr-button-text {
	color: white;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25.wpr-button-icon-style-inline .wpr-button:hover .wpr-button-icon {
	color: white;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25.wpr-button-icon-style-inline .wpr-button:hover .wpr-button-icon svg {
	fill: #000;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25 .wpr-button:hover {
	border-color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25.wpr-button-icon-style-inline .wpr-button {
	padding: 5px 10px 5px 10px;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25.wpr-button-icon-style-block .wpr-button-text {
	padding: 5px 10px 5px 10px;
}

.elementor-20159 .elementor-element.elementor-element-5c69c25.wpr-button-icon-style-inline-block .wpr-button-content {
	padding: 5px 10px 5px 10px;
}

.elementor-20159 .elementor-element.elementor-element-25d206d2:not(.elementor-motion-effects-element-type-background),
.elementor-20159 .elementor-element.elementor-element-25d206d2 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #ffca24;
}

.elementor-20159 .elementor-element.elementor-element-25d206d2 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 100px 0px;
}

.elementor-20159 .elementor-element.elementor-element-25d206d2 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20159 .elementor-element.elementor-element-25d206d2 > .elementor-shape-top .elementor-shape-fill {
	fill: #000;
}

.elementor-20159 .elementor-element.elementor-element-25d206d2 > .elementor-shape-top svg {
	height: 60px;
}

.elementor-20159 .elementor-element.elementor-element-25d206d2 > .elementor-shape-bottom .elementor-shape-fill {
	fill: #000;
}

.elementor-20159 .elementor-element.elementor-element-25d206d2 > .elementor-shape-bottom svg {
	height: 60px;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-5fc94355.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-5fc94355.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-38daea38 {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-38daea38 .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 80px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-5eb9bf57 .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-3b7c0f1a:not(.elementor-motion-effects-element-type-background),
.elementor-20159 .elementor-element.elementor-element-3b7c0f1a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #0088cd;
}

.elementor-20159 .elementor-element.elementor-element-3b7c0f1a {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 0px 50px 0px;
}

.elementor-20159 .elementor-element.elementor-element-3b7c0f1a > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20159 .elementor-element.elementor-element-37898b04 {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-37898b04 .elementor-heading-title {
	color: #FFFFFF;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 50px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-542c3d1f:not(.elementor-motion-effects-element-type-background),
.elementor-20159 .elementor-element.elementor-element-542c3d1f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background: #004a6f;
}

.elementor-20159 .elementor-element.elementor-element-542c3d1f {
	border-style: solid;
	border-color: white;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px 15px 15px 15px;
}

.elementor-20159 .elementor-element.elementor-element-542c3d1f > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-65d8ab49.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-65d8ab49.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-6909b531.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-6909b531.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-213180d2 {
	text-align: left;
}

.elementor-20159 .elementor-element.elementor-element-213180d2 .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-dcbf852 .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-65752e5c:not(.elementor-motion-effects-element-type-background),
.elementor-20159 .elementor-element.elementor-element-65752e5c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background: #004a6f;
}

.elementor-20159 .elementor-element.elementor-element-65752e5c {
	border-style: solid;
	border-color: white;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px 15px 15px 15px;
}

.elementor-20159 .elementor-element.elementor-element-65752e5c > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-762a0927.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-762a0927.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-7d86e84a.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-7d86e84a.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-3b062443 {
	text-align: left;
}

.elementor-20159 .elementor-element.elementor-element-3b062443 .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-26baeb4b .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-a535a09:not(.elementor-motion-effects-element-type-background),
.elementor-20159 .elementor-element.elementor-element-a535a09 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background: #004a6f;
}

.elementor-20159 .elementor-element.elementor-element-a535a09 {
	border-style: solid;
	border-color: white;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px 15px 15px 15px;
}

.elementor-20159 .elementor-element.elementor-element-a535a09 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-4995c0d6.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-4995c0d6.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-63c7eb38.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-63c7eb38.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-5eee534f {
	text-align: left;
}

.elementor-20159 .elementor-element.elementor-element-5eee534f .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-3dc823c4 .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-5b21b28d:not(.elementor-motion-effects-element-type-background),
.elementor-20159 .elementor-element.elementor-element-5b21b28d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background: #004a6f;
}

.elementor-20159 .elementor-element.elementor-element-5b21b28d {
	border-style: solid;
	border-color: white;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px 15px 15px 15px;
}

.elementor-20159 .elementor-element.elementor-element-5b21b28d > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-30be6d1b.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-30be6d1b.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-27b460fb img {
	width: 60%;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-1bdada54.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-1bdada54.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-1d6051a2 {
	text-align: left;
}

.elementor-20159 .elementor-element.elementor-element-1d6051a2 .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-65204646 .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-1c406534:not(.elementor-motion-effects-element-type-background),
.elementor-20159 .elementor-element.elementor-element-1c406534 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #0088cd;
}

.elementor-20159 .elementor-element.elementor-element-1c406534 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 100px 0px;
}

.elementor-20159 .elementor-element.elementor-element-1c406534 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20159 .elementor-element.elementor-element-1c406534 > .elementor-shape-top .elementor-shape-fill {
	fill: #0088cd;
}

.elementor-20159 .elementor-element.elementor-element-1c406534 > .elementor-shape-top svg {
	height: 60px;
}

.elementor-20159 .elementor-element.elementor-element-1c406534 > .elementor-shape-bottom .elementor-shape-fill {
	fill: #0088cd;
}

.elementor-20159 .elementor-element.elementor-element-1c406534 > .elementor-shape-bottom svg {
	height: 60px;
}

.elementor-20159 .elementor-element.elementor-element-3cb137bd {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-3cb137bd .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 50px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-23882b04:not(.elementor-motion-effects-element-type-background),
.elementor-20159 .elementor-element.elementor-element-23882b04 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #004a6f;
}

.elementor-20159 .elementor-element.elementor-element-23882b04 {
	border-style: dotted;
	border-color: #fff;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-20159 .elementor-element.elementor-element-23882b04 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-1f331260.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-1f331260.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-1f331260 > .elementor-element-populated {
	padding: 20px 20px 20px 20px;
}

.elementor-20159 .elementor-element.elementor-element-5b323ce5 {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-5b323ce5 .elementor-heading-title {
	color: #FFFFFF;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-2c07881f {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-2c07881f .elementor-heading-title {
	color: #FFFFFF;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-51a2b76b {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-51a2b76b .elementor-heading-title {
	color: #FFFFFF;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-477ffca {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-477ffca .elementor-heading-title {
	color: #FFFFFF;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-576f54e > .elementor-element-populated {
	margin: 20px 20px 20px 20px;
	--e-column-margin-right: 20px;
	--e-column-margin-left: 20px;
}

.elementor-20159 .elementor-element.elementor-element-5890519 > .elementor-widget-container {
	background-color: #0088cd;
}

.elementor-20159 .elementor-element.elementor-element-32d54a99 > .elementor-container {
	max-width: 1600px;
}

.elementor-20159 .elementor-element.elementor-element-32d54a99:not(.elementor-motion-effects-element-type-background),
.elementor-20159 .elementor-element.elementor-element-32d54a99 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #0088cd;
}

.elementor-20159 .elementor-element.elementor-element-32d54a99 > .elementor-background-overlay {
/*	background-color: white;*/
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20159 .elementor-element.elementor-element-32d54a99 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 0px 50px 0px;
}

.elementor-20159 .elementor-element.elementor-element-bc80359 {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-bc80359 .elementor-heading-title {
	color: #FFFFFF;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 50px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-4dd61e3 img {
	width: 50%;
}

.elementor-bc-flex-widget .elementor-20159 .elementor-element.elementor-element-2be93dec.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-2be93dec.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-20159 .elementor-element.elementor-element-2be93dec:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-20159 .elementor-element.elementor-element-2be93dec > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background: #004a6f;
}

.elementor-20159 .elementor-element.elementor-element-2be93dec > .elementor-element-populated {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: white;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-20159 .elementor-element.elementor-element-2be93dec > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20159 .elementor-element.elementor-element-11a41726 {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-11a41726 .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-4fc7d910 {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-4fc7d910 .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-49f68cec {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-49f68cec .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-21e7d500 img {
	width: 50%;
}

.elementor-20159 .elementor-element.elementor-element-21e7d500 > .elementor-widget-container {
	--e-transform-flipX: -1;
}

.elementor-20159 .elementor-element.elementor-element-646405dd > .elementor-container {
	max-width: 500px;
}

.elementor-20159 .elementor-element.elementor-element-646405dd {
	padding: 0px 0px 0px 0px;
}

.elementor-20159 .elementor-element.elementor-element-7cc94426:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-20159 .elementor-element.elementor-element-7cc94426 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background: #004a6f;
}

.elementor-20159 .elementor-element.elementor-element-7cc94426 > .elementor-element-populated {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: white;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 10px 10px 10px;
	--e-column-margin-right: 10px;
	--e-column-margin-left: 10px;
}

.elementor-20159 .elementor-element.elementor-element-7cc94426 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20159 .elementor-element.elementor-element-4abaadec {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-4abaadec .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-69ea8b04 {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-6e9f3a29:not(.elementor-motion-effects-element-type-background),
.elementor-20159 .elementor-element.elementor-element-6e9f3a29 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background: #004a6f;
}

.elementor-20159 .elementor-element.elementor-element-6e9f3a29 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 100px 0px;
}

.elementor-20159 .elementor-element.elementor-element-6e9f3a29 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20159 .elementor-element.elementor-element-6e9f3a29 > .elementor-shape-top .elementor-shape-fill {
	fill: #0088cd;
}

.elementor-20159 .elementor-element.elementor-element-6e9f3a29 > .elementor-shape-top svg {
	height: 70px;
}

.elementor-20159 .elementor-element.elementor-element-6e9f3a29 > .elementor-shape-bottom .elementor-shape-fill {
	fill: #0088cd;
}

.elementor-20159 .elementor-element.elementor-element-6e9f3a29 > .elementor-shape-bottom svg {
	height: 60px;
}

.elementor-20159 .elementor-element.elementor-element-42ad8ceb {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-42ad8ceb .elementor-heading-title {
	color: white;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 40px;
	font-weight: 800;
	letter-spacing: 3px;
}

.elementor-20159 .elementor-element.elementor-element-751a6cc6 img {
	width: 40%;
}

.elementor-20159 .elementor-element.elementor-element-512e6cdc .elementor-repeater-item-61cd0cb.elementor-social-icon {
	background-color: #0088cd;
}

.elementor-20159 .elementor-element.elementor-element-512e6cdc .elementor-repeater-item-61cd0cb.elementor-social-icon i {
	color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-512e6cdc .elementor-repeater-item-61cd0cb.elementor-social-icon svg {
	fill: #fff;
}

.elementor-20159 .elementor-element.elementor-element-512e6cdc .elementor-repeater-item-8c5a87c.elementor-social-icon {
	background-color: #0088cd;
}

.elementor-20159 .elementor-element.elementor-element-512e6cdc .elementor-repeater-item-8c5a87c.elementor-social-icon i {
	color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-512e6cdc .elementor-repeater-item-8c5a87c.elementor-social-icon svg {
	fill: #fff;
}

.elementor-20159 .elementor-element.elementor-element-512e6cdc .elementor-repeater-item-18a28fa.elementor-social-icon {
	background-color: #0088cd;
}

.elementor-20159 .elementor-element.elementor-element-512e6cdc .elementor-repeater-item-18a28fa.elementor-social-icon i {
	color: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-512e6cdc .elementor-repeater-item-18a28fa.elementor-social-icon svg {
	fill: #FFFFFF;
}

.elementor-20159 .elementor-element.elementor-element-512e6cdc {
	--grid-template-columns: repeat(0, auto);
	--icon-size: 40px;
	--grid-column-gap: 20px;
	--grid-row-gap: 0px;
}

.elementor-20159 .elementor-element.elementor-element-512e6cdc .elementor-widget-container {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-1efa5b0e:not(.elementor-motion-effects-element-type-background),
.elementor-20159 .elementor-element.elementor-element-1efa5b0e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #0088cd;
}

.elementor-20159 .elementor-element.elementor-element-1efa5b0e {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 010px 0px 10px 0px;
}

.elementor-20159 .elementor-element.elementor-element-1efa5b0e > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20159 .elementor-element.elementor-element-55722dd9 {
	text-align: center;
}

.elementor-20159 .elementor-element.elementor-element-55722dd9 .elementor-heading-title {
	color: #fff;
	font-family: 'Shaky Hand Some Comic', sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 3px;
}

@media(min-width:768px) {
	.elementor-20159 .elementor-element.elementor-element-4ccb32e9 {
		width: 20%;
	}

	.elementor-20159 .elementor-element.elementor-element-3579c704 {
		width: 59.333%;
	}

	.elementor-20159 .elementor-element.elementor-element-615a439a {
		width: 20%;
	}

	.elementor-20159 .elementor-element.elementor-element-2006a0b0 {
		width: 54.957%;
	}

	.elementor-20159 .elementor-element.elementor-element-2ea1c336 {
		width: 45%;
	}

	.elementor-20159 .elementor-element.elementor-element-65d8ab49 {
		width: 23.214%;
	}

	.elementor-20159 .elementor-element.elementor-element-6909b531 {
		width: 76.786%;
	}

	.elementor-20159 .elementor-element.elementor-element-762a0927 {
		width: 23.214%;
	}

	.elementor-20159 .elementor-element.elementor-element-7d86e84a {
		width: 76.786%;
	}

	.elementor-20159 .elementor-element.elementor-element-4995c0d6 {
		width: 23.214%;
	}

	.elementor-20159 .elementor-element.elementor-element-63c7eb38 {
		width: 76.786%;
	}

	.elementor-20159 .elementor-element.elementor-element-30be6d1b {
		width: 23.214%;
	}

	.elementor-20159 .elementor-element.elementor-element-1bdada54 {
		width: 76.786%;
	}
}

@media(max-width:1024px) {
	.elementor-20159 .elementor-element.elementor-element-36ef0dab {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-20159 .elementor-element.elementor-element-726ad123 {
		text-align: center;
	}
}

@media(max-width:767px) {
	.elementor-20159 .elementor-element.elementor-element-36ef0dab {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-20159 .elementor-element.elementor-element-4ccb32e9 {
		width: 50%;
	}

	.elementor-20159 .elementor-element.elementor-element-7f398d71 img {
		width: 65%;
	}

	.elementor-20159 .elementor-element.elementor-element-3579c704 {
		width: 50%;
	}

	.elementor-20159 .elementor-element.elementor-element-755330f1 {
		padding: 50px 0px 50px 0px;
	}

	.elementor-20159 .elementor-element.elementor-element-726ad123 {
		text-align: center;
	}

	.elementor-20159 .elementor-element.elementor-element-726ad123 .elementor-heading-title {
		font-size: 75px;
	}

	.elementor-20159 .elementor-element.elementor-element-5c69c25 {
		text-align: center;
	}

	.elementor-20159 .elementor-element.elementor-element-38daea38 .elementor-heading-title {
		font-size: 30px;
	}

	.elementor-20159 .elementor-element.elementor-element-5eb9bf57 .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-20159 .elementor-element.elementor-element-37898b04 .elementor-heading-title {
		font-size: 30px;
	}

	.elementor-20159 .elementor-element.elementor-element-213180d2 {
		text-align: center;
	}

	.elementor-20159 .elementor-element.elementor-element-3b062443 {
		text-align: center;
	}

	.elementor-20159 .elementor-element.elementor-element-5eee534f {
		text-align: center;
	}

	.elementor-20159 .elementor-element.elementor-element-1d6051a2 {
		text-align: center;
	}

	.elementor-20159 .elementor-element.elementor-element-3cb137bd .elementor-heading-title {
		font-size: 30px;
	}

	.elementor-20159 .elementor-element.elementor-element-2c07881f .elementor-heading-title {
		font-size: 30px;
		letter-spacing: -0.5px;
	}

	.elementor-20159 .elementor-element.elementor-element-51a2b76b .elementor-heading-title {
		font-size: 25px;
	}

	.elementor-20159 .elementor-element.elementor-element-477ffca .elementor-heading-title {
		font-size: 25px;
	}

	.elementor-20159 .elementor-element.elementor-element-bc80359 .elementor-heading-title {
		font-size: 30px;
	}

	.elementor-20159 .elementor-element.elementor-element-42ad8ceb .elementor-heading-title {
		font-size: 30px;
	}

	.elementor-20159 .elementor-element.elementor-element-751a6cc6 img {
		width: 80%;
	}

	.elementor-20159 .elementor-element.elementor-element-512e6cdc {
		--icon-size: 20px;
	}
}

/* Start custom CSS for heading, class: .elementor-element-726ad123 */
.lineclamp {
	font-size: calc(4vw + 4vh + 2vmin) !important;
}

/* End custom CSS */